<div>
  <a class="nav-link active" aria-current="page" [routerLink]="['/']"> Home</a>
</div>
<div class="container">
  <div class="box">
    <img
      src="https://images.unsplash.com/photo-1674110997072-41f11b7d4ae7?q=80&w=1924&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Image 2"
    />
    <h3>Heading 2</h3>
    <a [routerLink]="['/specification']">Specification</a>
  </div>
  <div class="box">
    <img
      src="https://images.unsplash.com/photo-1655945601270-17b34b82a9de?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Image 4"
    />
    <h3>Heading 4</h3>
    <a [routerLink]="['/specification']">Specification</a>
  </div>
  <div class="box">
    <img
      src="https://images.unsplash.com/photo-1683729133363-4ea64ec97c0e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Image 5"
    />
    <h3>Heading 5</h3>
    <a [routerLink]="['/specification']">Specification</a>
  </div>
  <div class="box">
    <img
      src="https://www.bmwusa.com/content/dam/bmw/common/Plug-in-hybrid-electric/mobile/BMW-MY24-PHEV-Overview-7Series-750e-DigitalLink-mobile.jpg"
      alt="Image 6"
    />
    <h3>Heading 6</h3>
    <a [routerLink]="['/specification']">Specification</a>
  </div>
</div>
