<div class="container">
  <h1>Choose your car</h1>
   <nav>
    <div>
      <a routerLink="/sport-cars">Sports Cars</a>
      <a routerLink="/suv-cars">SUV Cars</a>
      <a routerLink="/hybrid-cars">Hybrid Cars</a>
      <a routerLink="/logout">Logout</a>
      <a routerLink="/delete-account" (click)="onDeleteAccount()">Delete Account</a>
    </div>
  </nav>
  <!-- <nav>
    <div>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  </nav> -->
</div>
